body { color : #000000 ;
	background-color : #FFFFFF ;
	font-family : arial, verdana, sans-serif ;
	margin : 0 ;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Franklin Gothic Book", arial, verdana, sans-serif;
}

.center { text-align : center ; }

.footnote { font-style : oblique ; }

.description {
	margin : 1mm 1mm 2em 1mm ; 
	padding : 1em ;
}

.description p {
	margin : .5em ; 
	text-align : justify ;
}

a { color : #407040 ;
	text-decoration : none ;
	border-bottom : 1px dotted ;
  }

a:hover { background-color : #205020 ;
	color : #FFFFFF ;
}

.header {  background-color : #F6F6F6 ;
	color : #336698 ;
    border-bottom :  5px black solid ;
    padding : 1.5em ;
    margin : 0 ;
	text-align : center ;
}

.abstract { font-size : small ; }

pre { white-space: pre-wrap ;
    white-space : -moz-pre-wrap ;
    white-space : -pre-wrap ;
    white-space : -o-pre-wrap;
    word-wrap : break-word ;
}

@media screen, projection {
	.print-href { display : none; }
}
